{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = {% static 'style.css' %}/>
    <!-- <link rel="shortcut icon"  href="images/logo.webp" type="image/png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title>Food - Healthy Nutrition</title>
</head>


<body>

    <nav>
        <div class="nav-container">

            <div class="nav-left">
                <a class = "" href="{% url 'foody:foody_page' %}" > <h1> Foody </h1> </a>
            </div>

            <div class="nav-center">
                <a  class = "nav-a" href="{% url 'foody_diary:foody_diary' %}">Food diary</a>
                <a  class = "nav-a" href="{% url 'foody_calculator:foody_calculator' %}">PFC Calculator</a>
                <a  class = "nav-a" href="{% url 'foody_recipe:foody_recipe' %}">Recipes</a>
            </div>



            <div class="nav-right">
                <!-- <a href="#">Log In</a> -->
                <button class = "but-log-in">Log In</button>
                <button class = "but-sign-up">Sign Up</button>

            </div>
        </div>
    </nav>



    {% block content %} {% endblock %}
  </body>
  <footer class = "footer-conteiner">

      <div class ="footer2">
          <p>LET'S EAT RIGHT</p>
      </div>

  </footer>



  </html>
