{% extends 'foody/base.html' %}

{% block content %}
{% load static %}
    <div  class = "text-conteiner">
        <p style = "font-size:80px;">
            Eating right is <span style = "color:#BAE637;font-size:80px;"> very easy.</span>
        </p>
    </div>
    <div class="description">
        <!-- <div class="img-description"> -->
            <img class="img-description" src={% static 'image.png' %}>
        <!-- </div> -->
        <div class="description-conteiner">
            <div class="description-1">

                <p class = "description-text"> <span style = "color:#BAE637;"> Foody </span> is a lightweight and easy-to-use website for tracking your nutrition.</p>
            </div>
            <div class="description-2">
                <h2 style = "color:#282923 ;">On the site you can find recipes for healthy and most importantly tasty food, calculate PFC and also keep track of what you eat.</h2>

            </div>
        </div>
    </div>

    <div class="quotes-container">
        <div class="quotes-scroll">
            <!-- Первый набор цитат -->
            <div class="quotes-inner">
                <h1 class="text-quotes">"Our food should be our medicine, and our medicine should be our food" - Hippocrates.</h1>
                <h1 class="text-quotes">"The first wealth is health," - R. Emerson.</h1>
                <h1 class="text-quotes">"Man is what he eats" - Lucretius.</h1>
                <h1 class="text-quotes">"Eating is a necessity, but eating wisely is an art." - François VI de La Rochefoucauld.</h1>
            </div>
            <!-- Дублируем тот же набор для бесконечности -->
            <div class="quotes-inner" aria-hidden="true">
                <h1 class="text-quotes">"Our food should be our medicine, and our medicine should be our food" - Hippocrates.</h1>
                <h1 class="text-quotes">"The first wealth is health," - R. Emerson.</h1>
                <h1 class="text-quotes">"Man is what he eats" - Lucretius.</h1>
                <h1 class="text-quotes">"Eating is a necessity, but eating wisely is an art." - François VI de La Rochefoucauld.</h1>
            </div>
        </div>
    </div>

    <div class = "tools-conteiner1">
        <p class = "tools-description" style = "color:#BAE637;" >Food Diary</p>
        <p class = "tools-description" >simple calorie record</p>

        <div class = "image-container">
            <img class="tools-img-description" src={% static 'food-diary-img.png' %}>
        </div>

    <div class = "tools-conteiner2">
        <p class = "tools-description" style = "color:#BAE637;" >PFC Calculator</p>
        <p class = "tools-description" >quickly determine PFC</p>

        <div class = "image-container">
            <img class="tools-img-description" src={% static "pfc-calc.png" %}>
        </div>
    </div>

    <div class = "tools-conteiner3">

        <p class = "tools-description" style = "color:#BAE637;" >Recipec</p>
        <p class = "tools-description" >simple, tasty, healthy menu</p>

        <div class = "image-container">
            <img class="tools-img-description" src={% static "food-diary-img.png" %}>
        </div>

    </div>



{% endblock %}
